.title {
  text-transform: uppercase;
  font-size: 100px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(56, 56, 165);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
